/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  background: linear-gradient(90deg, rgba(101,76,108,1) 0%, rgba(49,34,68,1) 35%, rgba(11,82,91,1) 100%);;
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 200;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.form-control:focus {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.411);
  transition: all 0.4s ease;
}

.form-control{
  width: 70%;
  margin: auto;
}

.btn:hover{
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.411);
  transition: all 0.4s ease;
}

.btn {
  margin-top: 1em !important;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

footer p{
  margin-bottom: 0;
  margin-top: 4em;
}

.card {
  margin-top: 2em;
  margin: auto;
  width: 70%;
  transition: transform 250ms;
}

.card:hover{
  transform: translateY(-10px);
}

img{
  width: 70% !important;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-title{
  color: black;
  font-size: 1.5em;
}

.card-text{
  color: black;
}

.form-control{
  transition: transform 250ms;
  margin-top: 2em;
}

.form-control:hover{
  transform: translateY(-10px);
}

.btn-success{
  margin-bottom: 2em;
}

.btn-danger {
  margin-bottom: 2em;
}
#que-ver{
  font-size: 2em;
  margin-top:1.2em ;
  margin-bottom:0.5em;
}
#que-ver-p{
  font-size: 1.2em;

}
span{
  font-weight: bold;
}

.video{
  width: 100%;
  height: calc(60vw * 0.5625);
  max-width: 560px;
  max-height: 315px;
}